### 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 및 데이터 불러오기'
import numpy as np
import pandas as pd
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# ESFJ 값을 가진 데이터 확인
df[df['f4'] == 'ESFJ']

      id   age city    f1  f2   f3    f4         f5
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
12  id13  15.0   서울  68.0   0  NaN  ESFJ  83.685380
30  id31  86.0   부산  77.0   0  NaN  ESFJ  73.586397
58  id59  64.0   대구   NaN   1  NaN  ESFJ  20.129444
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034

In [3]:
# 값 변경하기
df.replace({'f4':'ESFJ'},{'f4':'ISFJ'}, inplace=True)

In [4]:
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [5]:
df[df['f4'] == 'ISFJ']

      id   age city     f1  f2   f3    f4         f5
4   id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
6   id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울   35.0   2  NaN  ISFJ  17.252986
12  id13  15.0   서울   68.0   0  NaN  ISFJ  83.685380
17  id18  41.0   서울   87.0   2  NaN  ISFJ  80.138280
30  id31  86.0   부산   77.0   0  NaN  ISFJ  73.586397
31  id32  25.0   부산   64.0   0  vip  ISFJ  13.049921
51  id52  97.0   대구   82.0   1  NaN  ISFJ  90.496999
56  id57   3.0   대구  111.0   0  NaN  ISFJ  29.269869
58  id59  64.0   대구    NaN   1  NaN  ISFJ  20.129444
62  id63  88.0   경기   86.0   1  NaN  ISFJ  73.586397
66  id67  66.0   경기   52.0   1  NaN  ISFJ  73.586397
72  id73  90.0   경기    NaN   1  NaN  ISFJ  73.586397
80  id81  86.0   경기   50.0   1  NaN  ISFJ  37.113739
98  id99   1.0   경기   47.0   0  NaN  ISFJ  97.381034

In [6]:
df[(df['city'] == '경기') & (df['f4'] == 'ISFJ')]

      id   age city    f1  f2   f3    f4         f5
62  id63  88.0   경기  86.0   1  NaN  ISFJ  73.586397
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
72  id73  90.0   경기   NaN   1  NaN  ISFJ  73.586397
80  id81  86.0   경기  50.0   1  NaN  ISFJ  37.113739
98  id99   1.0   경기  47.0   0  NaN  ISFJ  97.381034

In [7]:
# 2개의 조건에 맞는 값중 age컬럼의 최대값
df[(df['city'] == '경기') & (df['f4'] == 'ISFJ')].age.max()

90.0

## Hint

In [8]:
# 값 변경하기
import pandas as pd
data = pd.DataFrame([0, 1, 0, 1, 0])
data = data.replace(0, 2)
data

   0
0  2
1  1
2  2
3  1
4  2

## 풀이

In [9]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [10]:
# ESFJ 값을 가진 데이터 확인
df[df['f4'] == 'ESFJ']

      id   age city    f1  f2   f3    f4         f5
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
12  id13  15.0   서울  68.0   0  NaN  ESFJ  83.685380
30  id31  86.0   부산  77.0   0  NaN  ESFJ  73.586397
58  id59  64.0   대구   NaN   1  NaN  ESFJ  20.129444
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034

In [11]:
# 값 변경하기
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

In [12]:
# ESFJ 값을 가진 데이터 확인
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [13]:
# 2개의 조건에 맞는 값
df[(df['f4'] == 'ISFJ') & (df['city'] == '경기')]

      id   age city    f1  f2   f3    f4         f5
62  id63  88.0   경기  86.0   1  NaN  ISFJ  73.586397
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
72  id73  90.0   경기   NaN   1  NaN  ISFJ  73.586397
80  id81  86.0   경기  50.0   1  NaN  ISFJ  37.113739
98  id99   1.0   경기  47.0   0  NaN  ISFJ  97.381034

In [14]:
# 2개의 조건에 맞는 값중 age컬럼의 최대값
df[(df['f4'] == 'ISFJ') & (df['city'] == '경기')]['age'].max()

90.0