## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

In [1]:
# 라이브러리 및 데이터 불러오기
import numpy as np
import pandas as pd
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# EDA - 결측값 확인(비율 확인)
df.shape

(100, 8)

In [3]:
df.isna().sum()/df.shape[0]*100

id       0.0
age      0.0
city     0.0
f1      31.0
f2       0.0
f3      95.0
f4       0.0
f5       0.0
dtype: float64

In [4]:
# 80%이상 결측치 컬럼, 삭제
df = df.drop(['f3'], axis=1)
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [5]:
df.city.unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [6]:
# 80%미만 결측치 컬럼, city별 중앙값으로 대체
so = df[df.city=='서울'].f1.median()
ps = df[df.city=='부산'].f1.median()
dg = df[df.city=='대구'].f1.median()
gg = df[df.city=='경기'].f1.median()

print(so,ps,dg,gg)

68.0 62.0 75.0 58.0

In [7]:
gg, dg, ps, so = df.groupby('city').median().f1
print(so,ps,dg,gg)

68.0 62.0 75.0 58.0

In [8]:
# way1
df['f1'] = df['f1'].fillna(df.groupby('city')['f1'].transform('median'))

In [9]:
# way2
df.loc[(df['f1'].isna()) & (df['city']=='서울'), 'f1'] = so
df.loc[(df['f1'].isna()) & (df['city']=='부산'), 'f1'] = ps
df.loc[(df['f1'].isna()) & (df['city']=='대구'), 'f1'] = dg
df.loc[(df['f1'].isna()) & (df['city']=='경기'), 'f1'] = gg

In [10]:
# way3
for i in range(df.shape[0]):
    if df['f1'].isna()[i]:
        if df['city'].iloc[i]=='서울':
            df['f1'].iloc[i] = so
        elif df['city'].iloc[i]=='부산':
            df['f1'].iloc[i] = ps
        elif df['city'].iloc[i]=='대구':
            df['f1'].iloc[i] = dg
        else :
            df['f1'].iloc[i] = gg

In [11]:
# way4
df['f1'] = df['f1'].fillna(df['city'].map({'서울':so,'경기':gg,'부산':ps,'대구':dg}))

In [12]:
df.isna().sum()/df.shape[0]*100

id      0.0
age     0.0
city    0.0
f1      0.0
f2      0.0
f4      0.0
f5      0.0
dtype: float64

In [13]:
# f1 평균값 결과 출력
print(df['f1'].mean())

65.52

## Hint
- city별 중앙값으로 대체에서는 map함수 활용

## 풀이

In [14]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [15]:
# EDA - 결측값 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [16]:
# 데이터 shape
df.shape

(100, 8)

In [17]:
# EDA - 결측비율 확인
df.isnull().sum()/df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [18]:
# f3 컬럼 삭제
print("삭제 전:", df.shape)
df = df.drop(['f3'], axis=1)
print("삭제 후:", df.shape)

# 결측치가 있는 컬럼을 제거하는 2가지 방법
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

삭제 전: (100, 8)
삭제 후: (100, 7)

In [19]:
# 도시 확인
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [20]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s, k, b, d

#방법2
# k, d, b, s = df.groupby('city')['f1'].median()

(68.0, 58.0, 62.0, 75.0)

In [21]:
# 대체 전 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울   NaN   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산   NaN   1  ISFP  29.269869

In [22]:
# f1결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

# 만약 그냥 f1 중앙값으로 대체 한다면 
# df['f1'] = df['f1'].fillna(df['f1'].median())

In [23]:
# 대체 후 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울  68.0   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산  62.0   1  ISFP  29.269869

In [24]:
#결과 출력
print(df['f1'].mean())

65.52