# 수치형 변수 변환하기


### 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## Standardization (Z-score Normalization)

![standard](https://wikimedia.org/api/rest_v1/media/math/render/svg/b0aa2e7d203db1526c577192f2d9102b718eafd5)

In [1]:
# 라이브러리 및 데이터 불러오기
import numpy as np
import pandas as pd
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
df.isna().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [3]:
# 표준화
df['f5'] = (df['f5'] - df['f5'].mean())/df['f5'].std()
df['f5']

0     1.214696
1     0.126705
2    -1.387545
3    -0.142947
4    -0.965222
        ...
95   -0.142947
96    0.391922
97    1.465348
98    1.428486
99   -0.823270
Name: f5, Length: 100, dtype: float64

In [4]:
# 중앙값 출력
df['f5'].median()

0.2593132572746011

In [5]:
# 라이브러리 사용
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['f5']])
df['f5'] = scaler.transform(df[['f5']])
# df['f5'] = scaler.fit_transform(df[['f5']])

df

       id    age city    f1  f2   f3    f4        f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  1.220815
1    id02    9.0   서울  70.0   1  NaN  ENFJ  0.127343
2    id03   27.0   서울  61.0   1  NaN  ISTJ -1.394535
3    id04   75.0   서울   NaN   2  NaN  INFP -0.143667
4    id05   24.0   서울  85.0   2  NaN  ISFJ -0.970085
..    ...    ...  ...   ...  ..  ...   ...       ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ -0.143667
96   id97  100.0   경기   NaN   0  NaN  INFP  0.393896
97   id98   39.0   경기  58.0   2  NaN  INFP  1.472730
98   id99    1.0   경기  47.0   0  NaN  ESFJ  1.435683
99  id100   47.0   경기  53.0   0  vip  ESFP -0.827418

[100 rows x 8 columns]

In [7]:
# 중앙값 출력
df['f5'].median()

0.260619629559015

## Hint
- https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
- https://en.wikipedia.org/wiki/Feature_scaling

In [8]:
from sklearn.preprocessing import StandardScaler
data = [[0, 2], [0.4, 0.2], [1.1, 10], [11, 19], [34, 21], [6, 40]]
scaler = StandardScaler()
print(scaler.fit(data))
print(scaler.transform(data))

StandardScaler()
[[-0.73299648 -0.99206078]
 [-0.69948807 -1.125655  ]
 [-0.64084835 -0.39830869]
 [ 0.18848481  0.26966241]
 [ 2.11521842  0.41810043]
 [-0.23037032  1.82826164]]

## 풀이

In [9]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [10]:
# 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5']=scaler.fit_transform(df[['f5']])
df.head()

     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
3  id04  75.0   서울   NaN   2  NaN  INFP -0.143667
4  id05  24.0   서울  85.0   2  NaN  ISFJ -0.970085

In [11]:
# 중앙값 출력
print(df['f5'].median())

0.260619629559015