## 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd
import numpy as np
import datetime
df = pd.read_csv('../input/bigdatacertificationkr/basic2.csv')

In [2]:
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [3]:
df.Date = pd.to_datetime(df.Date)

In [4]:
df.Date + datetime.timedelta(days=1) # 날짜 더하기

0     2022-01-02
1     2022-01-03
2     2022-01-04
3     2022-01-05
4     2022-01-06
         ...
725   2023-12-28
726   2023-12-29
727   2023-12-30
728   2023-12-31
729   2024-01-01
Name: Date, Length: 730, dtype: datetime64[ns]

In [5]:
df['new_PV'] = df['PV'].shift(1).fillna(df['PV'][0])

In [6]:
df[(df.Events==1)&(df.Sales<=1000000)].new_PV.sum()

1894876.0

## kaggle answer

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [9]:
# 결측치 확인
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [10]:
#1일 차이가 나는 시차 특성 만들기
df['previous_PV'] = df['PV'].shift(1)
df.head()

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1          NaN
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0

In [11]:
# 1일 씩 미뤘음으로 가장 앞이 결측값이 됨 (바로 뒤의 값으로 채움)
df['previous_PV'] = df['previous_PV'].fillna(method = 'bfill')
df.head()

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1     397349.0
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0

In [12]:
# 조건에 맞는 1일 이전 PV의 합
cond = (df['Events'] == 1) & (df['Sales'] <= 1000000)
print(df[cond]['previous_PV'].sum())

1894876.0