### 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 
### 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 
### 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함 
### (최종값은 소수점 반올림 후 정수 출력)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../input/bigdatacertificationkr/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [2]:
df['Date'] = pd.to_datetime(df['Date'])

In [3]:
df['Date_year'] = df['Date'].dt.year
df['Date_month'] = df['Date'].dt.month

In [4]:
df['Sales'] = ((df['Events']*0.8).replace(0,1))*df['Sales']

In [5]:
df_group = df.groupby(['Date_year','Date_month']).Sales.sum().reset_index()

df_2022 = df_group[df_group['Date_year']==2022].Sales.max()
df_2023 = df_group[df_group['Date_year']==2023].Sales.max()

int(round(abs(df_2022-df_2023), 0))

42473436

### kaggle answer

In [6]:
# 라이브러리 불러오기
import pandas as pd

In [7]:
# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                 parse_dates=['Date'])

In [8]:
df.head()

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

In [9]:
# 날짜 컬럼 생성
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek

In [10]:
# 이벤트가 1인 sales값은 80%만 반영

def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x


df = df.apply(lambda x: event_sales(x), axis=1) #1일 경우 row, 0일 경우 컬럼
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,Sales2
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,18169220.0
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,36779.0
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,11155100.0
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,8088593.0
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,2395374.0

In [11]:
# 2022년 월별 합계 중 가장 큰 값
cond = df['year'] == 2022
df1 = df[cond]
sale1 = df1.groupby('month')['Sales2'].sum().max()
sale1

197145878.0

In [12]:
# 2023년 월별 합계 중 가장 큰 값
cond = df['year'] == 2023
df2 = df[cond]
sale2 = df2.groupby('month')['Sales2'].sum().max()
sale2

239619313.8

In [13]:
# 결과값 반올림 후 정수 출력
int(round(abs(sale1 - sale2),0))

42473436