# 작업형1 예시문제
자동차 데이터 셋에서 특정 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.
- data 출처: https://www.kaggle.com/ruiromanini/mtcars
- data 추가방법 : 우측 메뉴 -> +Add data -> mtcar(ruiromanini) ADD
- 영상 링크 : https://youtu.be/E86QFVXPm5Q

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('../input/mtcars/mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [3]:
df.isna().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['qsec'] = scaler.fit_transform(df[['qsec']])

In [5]:
len(df[df['qsec']>0.5])

9

In [6]:
df = pd.read_csv('../input/mtcars/mtcars.csv')

#minmax
minmax = (df['qsec']-min(df['qsec']))/(max(df['qsec'])-min(df['qsec']))
sum(minmax>0.5)

9

### 방법1

In [7]:
# 라이브러리 불러오기
import pandas as pd
from sklearn.preprocessing import minmax_scale

# 데이터 불러오기
data = pd.read_csv('../input/mtcars/mtcars.csv')
print('minmax 변환 전: \n',data['qsec'].head())

# min-max scale
data['qsec'] = minmax_scale(data['qsec'])
print('minmax 변환 후: \n',data['qsec'].head())

# 0.5보다 큰 값 / 방법1,2 중에 선택
print(sum(data['qsec'] > 0.5)) #방법1 (True를 더 함)
print(len(data[data['qsec']>0.5])) #방법2 (데이터 수를 구함)

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
9
9

### 방법2

In [8]:
# 라이브러리 불러오기
import pandas as pd

# 데이터 불러오기
data = pd.read_csv('../input/mtcars/mtcars.csv')
print('minmax 변환 전: \n',data['qsec'].head())

# min-max scale
def minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data

data['qsec'] = minmax(data['qsec'])
print('minmax 변환 후: \n',data['qsec'].head())

# 0.5보다 큰 값 (row 수 파악)
print(len(data[data['qsec']>0.5]))

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
9